<?xml version="1.0" encoding="UTF-8"?>
<!--
    Please refer to machine.config.comments for a description and
    the default values of each configuration section.

    For a full documentation of the schema please refer to
    http://go.microsoft.com/fwlink/?LinkId=42127

    To improve performance, machine.config should contain only those
    settings that differ from their defaults.
-->

<configuration>
  
  <system.web>

    <globalization fileEncoding="windows-1251" culture="bg-BG" uiCulture="bg-BG" requestEncoding="windows-1251" responseEncoding="windows-1251" />
    <customErrors mode="Off"/>
    <pages enableViewStateMac="false" />
    
    <!--
    <authorization>
      <deny users="?"/>
    </authorization>
    

    <authentication mode="Forms">
      <forms loginUrl="~/admin_sjn/Login.aspx"  timeout="50"/>
    </authentication>
    -->

  </system.web>


  <appSettings>
    <add key="DBConnectionString"
         value="Data Source=mssql12.orion.rs,1433;Initial Catalog=bosilegr_kursova;
          User Id=bosilegr_kursuser;Password=!brat0604?;pooling=false"/>
  </appSettings>
  
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=mssql12.orion.rs,1433;Initial Catalog=bosilegr_kursova;Uid=bosilegr_kursuser;Pwd=!brat0604?;"/>
  </connectionStrings>

</configuration>

