<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
                <customErrors mode="Off"/>
   	        <globalization uiCulture="sr" culture="sr-Latn-CS" />
         </system.web>

  
  <appSettings>
    <add key="DBConnectionString"
         value="Data Source=mssql12.orion.rs,1433;Initial Catalog=bosilegr_kursova;
          User Id=bosilegr_kursuser;Password=!brat0604?;pooling=false"/>
  </appSettings>
  
  
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=mssql12.orion.rs,1433;Initial Catalog=bosilegr_kursova;Uid=bosilegr_kursuser;Pwd=!brat0604?;"/>
  </connectionStrings>

</configuration>
